あなたは教育課程の開発における専門家です。
以下の各タスクの説明に基づいて、2つの学習タスクの間の前提条件の関係を判断してください。
各タスクには問題集があり，問題集は画像として提供されます。（添付した画像の題目とタスクにある問題集の題目を確認してください。）



--------------------------------------------------
学習タスク1

学年または教科名: {{ school_name1 }} {{ grade_or_subject_name1 }}
分野: {{ topic1 }}
学習内容: {{ task_objective1 }}

次のような知識及び技能を身に付けること:
{{ knowledge_and_skills1 }}

次のような思考力,判断力,表現力等を身に付けること:
{{ thinking_judgement_expression1 }}

問題集例）

問題集の主題: {{ drill_task_name1 }}

問題集の題目
{% for drill in drill_tasks1 -%}
{{ loop.index }}. {{ drill.drill_sub_task_name }}
{% endfor -%}

--------------------------------------------------
学習タスク2

学年または教科名: {{ school_name2 }} {{ grade_or_subject_name2 }}
分野: {{ topic2 }}
学習内容: {{ task_objective2 }}

次のような知識及び技能を身に付けること:
{{ knowledge_and_skills2 }}

次のような思考力,判断力,表現力等を身に付けること:
{{ thinking_judgement_expression2 }}

問題集例）

問題集の主題: {{ drill_task_name2 }}

問題集の題目
{% for drill in drill_tasks2 -%}
{{ loop.index }}. {{ drill.drill_sub_task_name }}
{% endfor -%}

--------------------------------------------------

質問: 学習タスク1が学習タスク2の先行科目であるか答えてください。

次のいずれかを答えてください。
High required: 学習タスク1が学習タスク2の直接な先行科目である
    - 説明: タスク1のスキルがタスク2の問題集に直接用いられる場合は、high と評価してください。（例：タスク1で学んだスキルや知識が、そのままタスク2の問題を解く際に必要な場合）
Low required: 学習タスク1が学習タスク2の間接的な先行科目である.
    -　説明: タスク1のスキルがタスク2の問題集を解くときに直接は用いられないが、タスク2の学習を効率的に進める上で役立つ場合は、low と評価してください。（例：タスク1で学んだ背景知識や概念が、タスク2の理解をサポートする場合）
Not required: 学習タスク1と学習タスク2がお互いに関係ない
    - 説明: タスク1のスキルがタスク2の問題集を解く際に必要ない場合は、not required と評価してください。（例：タスク1で学んだスキルや知識が、タスク2の問題を解く際に必要ない場合）

理由はReasoningに、最終的な答えはAnswerに入れて、以下の形式で出力してください。

Reasoning: 学習タスク2にある問題に学習タスク1の「何々が」使われています。
Answer: High required